<div class="center jumbotron">
  <h1>Welcome to the Course App</h1>

  <h2>
    This page is for Stage 1 of RAD Course
  </h2>
  <div class="">
     <%=  link_to '<i class="glyphicon glyphicon-saved"></i>  Sign up now!'.html_safe, signup_path, class: "btn btn-lg btn-primary" %>
</div>
</div>

<div class="media">
  <div class="media-body">
    <h4 class="media-heading">View Course as Guest User</h4>
    <p>browse and view courses as guest and sign up later</p>
    <%=  link_to '<i class="glyphicon glyphicon-saved"></i>  Browse all courses'.html_safe, all_courses_path, class: "btn btn-md btn-success" %>
  </div>
  <div class="media-body">
    <h4 class="media-heading">Sign in to your account</h4>
    <p>Update your courses, rate courses, view coordinator information</p>
    <%=  link_to '<i class="glyphicon glyphicon-saved"></i>  Log in to your account'.html_safe, login_path, class: "btn btn-md btn-success" %>
  </div>
</div>

