<% provide(:title, "Admin") %>
<h1>Location Edit</h1>
<%if Location.all.empty?%>
  <div class="container">
    <div class="alert alert-warning center" role="alert">
      <b class="center">No Locations to Edit</b>
    </div>
  </div>
<%else %>
  <div class="container media-container">
    <% Location.all.each do |l| %>
      <div class="media">
        <div class="media-body">
          <div class="content"><b>Location Name: </b><%= l.location_name %></div>
        </div>
        <div class="admin_buttons">
          <div class="link btn btn-success">
            <%= link_to 'Edit Location', edit_location_path(l) %>
          </div>
          <div class="link btn btn-success">
            <%= link_to 'Delete Location', location_path(l), method: :delete,
                        data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<%end %>