@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

//admin buttons
.admin_buttons {
  margin-top: 15px;
}
.admin_buttons .link a{
  color: white;
}
.admin_buttons .link a:hover{
  color: rgba(51, 51, 51, 0.97);
  text-decoration: none;
}

.navbar-nav  a, .navbar-nav  li {
  color: white;
}

.nav a:hover, .nav li:hover {
  border-radius: 5px;
  color: black;
}

.navbar {
  background-color: #3E616E;
}

/*form container*/
.container-form {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  background-color: #e0e0e0;
  width: 60%;
  padding: 20px;
}

.container-form .btn-success{
  margin-top: 15px;
}
.container-form .checkbox-container {
  display: block;
}
.container-form .checkbox {
  display: inline-block;
  margin-left: 40px;

}

.media-container .media {
  position: center;
  padding-bottom:40px;
  padding-top:10px;
  padding-left: 5vh;
}

.media-container .media .media-left {
  //height: 200px;
  width: 15vh;
  padding-right: 5vh;
}

.media-container .media .media-body {
  border-radius: 5px;
  background-color: #e0e0e0;
  padding: 20px;
}

.media-container .media .media-body {
  // courses under courses/coordinators tabs has diff width
  width: 100vh;
}

.media-container .media .media-right {
  width: 35%;
}

.course-description{
  margin-top: -10px;
}

//divider
.media-container .media:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.user_info{
  border-bottom: 1px solid #e5e5e5;
}

.gravatar {
  hight: 80px;
  width: 80px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.media {
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 20px;
}

.media-body {
  width: 60%;
}

.media-body h4 {
  font-size: 25px;
  padding-bottom: 15px;
}

.media-body .btn-success {
  margin-top: 15px;
}

.thumbs-container {
  display: flex;
  justify-content: flex-end;
  color: cornflowerblue;
}

.thumbs-container .like {
  margin-right: 10px;
}
.btn-secondary {
  color: #fff;

}

.jumbotron .btn-primary{
  background-color: #88959b;
  border-color: white;
}

.jumbotron .btn-primary:hover{
  background-color: #405e95;
  border-color: white;
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {

  background-color: #d3d6d0;
  border-color: #d3d6d0; /*set the color you want here*/
}

.content {
  padding-top: 3px;
  padding-bottom: 3px;
}


h4 {
  padding-bottom: 6px;
}

.link{
  display:inline;
  padding-right: 15px;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: normal;
  color: #777;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */
.footer .jumbotron{
  background-color: #777;
}


footer {

  margin-top: 45px;
  color: #e5e5e5;
}

.container-fluid{
  padding-left: 50px;

}

footer h2 {
  color: #ffffff;
}

.btn-send,footer .btn-success, footer .btn {
  background-color: #79a4bc;
  border-color: #79a4bc;
}

.btn-send:hover,footer .btn-success:hover, footer .btn:hover {
  background-color: rgba(150, 203, 233, 0.33);
  border-color: rgba(150, 203, 233, 0.33);
}



.row li {
  text-align: left;
  list-style: none;
}


footer a {
  color: #bfbfbf;
}

.footer .row .col-md-3{
  text-align: left;
}

.footer .row .col-md-3 h2{
  text-align: left;
}

.row li .fa {
  display: none;
}

.row li:hover .fa {
  display: inline;
}

.jumbotron li :hover {
  color: #ffffff;
  text-decoration: none;
}


ul ul { display: none }
ul li:hover ul {
  display: block;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing(border-box);
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}