<div class="container" role="navigation">
  <ul class="nav nav-tabs">
    <li role="presentation"><%= link_to "Course", :back %></li>
    <li role="presentation"  class="active"><%= link_to "Coordinator", all_coordinators_path %></li>
  </ul>
  <% User.all.each do |user| %>
  <div class="media">
    <div class="align-self-start mr-3">
      <%= gravatar_for user %>
    </div>
    <div class="media-body">
      <h4 class="mt-0"><%= user.name %></h4>
    </div>
  </div>
  <% end %>
</div>
