<div class="container center">
  <% User.all.each do |user| %>
    <div class="">
      <div class="media">
        <div class="align-self-start mr-3">
          <%= gravatar_for user %>
        </div>
        <div class="media-body">
          <h4 class="mt-0"><%= link_to user.name , user_path(user.id)%></h4>
        </div>
      </div>
    </div>
  <% end %>
</div>

