 <header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "course app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
            Category
          </a>
          <ul class="dropdown-menu">
            <% Course.select("category").group("category").each do |c| %>
              <li class="dropdown-item"><%= link_to "#{c.category}", categoryPath(c.category.gsub(" ", "_")) %></li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
            Locations
          </a>
          <ul class="dropdown-menu">
            <% Location.all.each do |loc| %>
              <li><%= link_to "#{loc.location_name}", locationPath(loc.location_name.gsub(".", "_")) %></li>
            <% end %>
          </ul>
        </li>
        <li><%= link_to "Log in",   '#' %></li>
      </ul>
    </nav>
  </div>
</header>
